@import "/src/assets/styles/_variables.scss";

.Wrapper {
  display: flex;
  flex-direction: column;

  max-width: 270px;
  margin: 0 auto;
  gap: 15px;

  color: $black;
}

.Title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.Descr {
  text-align: center;
  font-size: 14px;
}
